.clicked {
  color: salmon;
}

.hidden {
  display: none;
}

body{
  background-color: grey;
}

.tweet{
  background-color: red;
  margin: 0 auto;
}

.hiding-button{
  margin: 0 auto;
}


.retweetbutton{
  
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.likebutton{
  
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.deletebutton{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.twtImg{
  border-radius: 8px;
  width: 100%;
}


